<div class="default" style="padding-top: 48px !important;">
    <div class="row" style="margin: 0;">
        <h1 style="width:75% !important;">
            <span class="livethere">Live there.</span> Book unique homes and experience a city like a local.
        </h1>
    </div>
    <div class="row" style="border: 1px solid #ccc;border-radius: 4px;box-shadow: 0 1px 3px 0 #eee;margin:0;margin-top: 40px !important;">
        <form>

            <div class="col-xl-12 col-md-4" style="border-right:1px solid lightgray">
                <label>Where</label>
                <input type="text" class="form-control" ng-model="where" placeholder="Destination, city, address" required />
            </div>
            <div class="col-xl-12 col-md-4" style="border-right:1px solid lightgray">
                <label>When</label>
                <div class="row">
                    <div class="col-md-5">
                        <input type="text" class="form-control" ng-model="checkin" placeholder="Check In" required />
                    </div>
                    <div class="col-md-2">
                        <svg class="rightarrow" viewBox="0 0 1000 1000" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.1.1.0.1.0">
                            <path d="M694.4 242.4l249.1 249.1c11 11 11 21 0 32L694.4 772.7c-5 5-10 7-16 7s-11-2-16-7c-11-11-11-21 0-32l210.1-210.1H67.1c-13 0-23-10-23-23s10-23 23-23h805.4L662.4 274.5c-21-21.1 11-53.1 32-32.1z"
                                data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.1.1.0.1.0.0"></path>
                        </svg>
                    </div>
                    <div class="col-md-5" style="padding-left: 0;">
                        <input type="text" class="form-control" ng-model="checkout" placeholder="Check Out" required />
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-md-4">
                <div class="row">
                    <div class="col-md-7">
                        <label>Guests</label>
                        <select id="how-many-guests" class="GuestInput" aria-label="Number of guests" name="guests" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0">
                            <option selected="" value="1" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$1">1 Guest</option>
                            <option value="2" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$2">2 Guests</option>
                            <option value="3" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$3">3 Guests</option>
                            <option value="4" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$4">4 Guests</option>
                            <option value="5" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$5">5 Guests</option>
                            <option value="6" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$6">6 Guests</option>
                            <option value="7" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$7">7 Guests</option>
                            <option value="8" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$8">8 Guests</option>
                            <option value="9" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$9">9 Guests</option>
                            <option value="10" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$10">10 Guests</option>
                            <option value="11" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$11">11 Guests</option>
                            <option value="12" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$12">12 Guests</option>
                            <option value="13" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$13">13 Guests</option>
                            <option value="14" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$14">14 Guests</option>
                            <option value="15" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$15">15 Guests</option>
                            <option value="16" data-reactid=".ldf3n0wrnk.1.0.1.0.0.0.0.2.1.0.$16">16+ Guests</option>
                        </select>
                        <svg class="downarrow" viewBox="0 0 18 18" style="fill:currentColor;height:12px;width:12px;display:block;" data-reactid=".fqyp72lce8.1.0.1.0.0.0.0.2.1.1"><path d="M16.291 4.295a1 1 0 1 1 1.414 1.415l-8 7.995a1 1 0 0 1-1.414 0l-8-7.995a1 1 0 1 1 1.414-1.415l7.293 7.29 7.293-7.29z" data-reactid=".fqyp72lce8.1.0.1.0.0.0.0.2.1.1.0"></path></svg>
                    </div>
                    <div class="col-md-5" style="padding-top: 14px;">
                        <button type="submit" class="btn btn-primary searchbtn">Search</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>